/* セレクターの記述方法 */

/* ユニバーサルセレクター(全ての要素を対象) */
* {
    background-color: aqua;
}

/* 要素型セレクター */
button {
    font-weight: bold;
}

/* 複数要素 */
h1, h2 {
    color: blueviolet;
}

/* IDセレクター */
#title {
    text-align: center;
}

/* クラスセレクター */
.word {
    color: yellow;
}

/* 子孫セレクター */
/* li要素直下のaにのみ適用 */
li a {
    text-align: right;
}

/* 隣接セレクター */
/* 同じ階層のh1直後のpにのみ適用 */
h1 + p {
    text-decoration: underline;
}

/* 直下セレクター */
/* divの直下にあるaにのみ適用 */
div > a {
    font-weight: bold;
}

/* 属性セレクター */
/* type属性がtextのinput要素にのみ適用 */
input[type="text"] {
    letter-spacing: normal;
}

/* href属性にgoogleを含む要素にのみ適用 */
a[href*="google"] {
    color: burlywood;
}

/* 疑似クラス */
/* 要素の特定の状態を指定して適用 */
/* マウスカーソルが上にある時 */
button:hover {
    color: aliceblue;
}

/* クリックした時 */
button:active {
    color: aquamarine;
}

/* 何番目の要素にのみ適用 */
/* 3番目に適用 */
.title :nth-of-type(3) {
    background-color: beige;
}

/* 3の倍数番目に適用 */
.title :nth-of-type(3n) {
    background-color: beige;
}

/* 疑似要素 */
/* 要素の特定の部分を指定して適用 */
/* 最初の文字にのみ適用 */
p::first-letter {
    color: red;
}

/* 1行目にのみ適用 */
p::first-line {
    color: goldenrod;
}

/* ハイライトした部分にのみ適用 */
p::selection {
    background-color: yellow;
}
