<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormSample</title>
</head>
<body>
    <h1>GETとPOSTリクエスト</h1>
    <h2>GET</h2>
    <form action="/form" method="get">
        <input type="text" name="name" id="name">
        <input type="number" name="age" id="age">
        <button>送信</button>
    </form>
    <form action="/form" method="post">
        <input type="text" name="name" id="name">
        <input type="number" name="age" id="age">
        <button>送信</button>
    </form>
</body>
</html>