<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
</head>
<body>
    <h1>ホームページ</h1>
    <p>hdohgihwohkeoaweh;oewhgwoghwo</p>
    <p>dweibgwe;gke;hwegowghwhkehgpowe</p>
</body>
</html>