<%- include('partials/head') %>

<body>
    <h1>ホームページ<%= 'hello world!'.toUpperCase(); %></h1>
    <p>hdohgihwohkeoaweh;oewhgwoghwo</p>
    <p>dweibgwe;gke;hwegowghwhkehgpowe</p>
</body>
</html>