<%- include('partials/head') %>

<body>
    <h1>ランダムな値：<%= rand %></h1>
    <!-- 条件 -->
    <% if (rand % 2 === 0) { %>
        <h2>偶数だよ！！！</h2>
    <% } else { %>
        <h2>奇数だよ！！！</h2>
    <% } %>
    <!-- ループ -->
    <ul>
    <% for (let i = 0; i < nums.length; i++) { %>
        <li><%= nums[i] %></li>
    <% } %>
    </ul>
</body>
</html>